{% extends "base.html" %}


{# заголовок формы #}
{% block header_form_context %}Активация{% endblock %}

{# заголовок формы #}
{% block info_form_context %}
    {% if is_active %}Привет, <span class="name_user"> {{ username }}</span>!<br/>
    Ваша учетная запись активирована.
    {% else %}
    К сожалению, Ваш ключ активации не действителен. Если Вы вводили его ранее, то возможно он уже активирован. В таком случае заходите на сайт.
    Или пройдите процедуру регистрации заново.
    {% endif %}
{% endblock %}

{% block post_create_form %}
    {# start - дополнительные ссылки формы #}
    <a href="{% url 'auth_login' %}"><input type="button" value="Вход" class="clearfix" id="button_login"></a><br/><br/>
    {% if not is_active %}
        <a href="{% url 'registration_register' %}"><input type="button" value="Регистрация" class="clearfix" id="button_login"></a>
    {% endif %}
    {# end - дополнительные ссылки формы #}
{% endblock %}
