{% extends "base.html" %}
{#{% load i18n %}#}

{# заголовок формы #}
{% block header_form_context %}
    {% if not validlink %}Пароль не удалось изменить.{% else %}Введите новый пароль:{% endif %}
{% endblock %}

{# инфо формы #}
{% block info_form_context %}
    {% if not validlink %}Ссылка для сброса пароля была недействительной, возможно, потому что уже была использована.
        Пожалуйста, запросите новый сброс пароля.
    {% else %}
        Пожалуйста, введите новый пароль дважды, чтобы мы могли убедиться в правильности написания.
    {% endif %}
{% endblock %}

{# start - блок создание формы #}
{% block bind_field_form %}
    {% if validlink %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{# кнопка submit формы #}
{% block button_submit_form_name %}Изменить мой пароль{% endblock %}


{% block post_create_form %}
    {% if not validlink %}
        {# start - дополнительные ссылки формы#}
        <a href="{% url 'auth_password_reset' %}"><input type="button" value="Cброс пароля" class="clearfix"></a>
        {# end - дополнительные ссылки формы#}
    {% endif %}
{% endblock %}

{# установить фокус на поле формы#}
{% block set_focus_field_form %}
    {% if validlink %}
        <script type="text/javascript">
            var field_form = document.getElementById('id_new_password1');
            if (typeof (field_form) != 'undefined'){ field_form.focus(); }
        </script>
    {% endif %}
{% endblock %}

